/* .body {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    height:100vh;
    } */

.homeheaders {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(227, 115, 131);
    background-color: rgb(255, 245, 238);
    padding: 30px;
    border: 8px;
    margin: 0px;
    font-variant: small-caps;
    font-weight: 600;
}

.homeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#motto {
    font-weight: 100;
}

.entries {
    display: grid;
    grid-template-columns: auto auto;

    /* grid-template-columns: repeat(4, 10vw);
    grid-gap: 20px; */
}