
/* nav bar
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    text-decoration: none;
    transition: color 0.3s;
    background-color: rgb(255, 245, 238);
}

.profile-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
} 

.dropdown {
    position: absolute;
    top: 40px;
    right: 10px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
    color: black;
}

/* .dropdown-item:hover {
    background-color: #f0f0f0;
}  */

/* user icon */
/* .icon-container {
    position: absolute;
    top: 10px; 
    right: 10px; 
}

.user-icon {
    width: 50px; /* Adjust to your preferred width */
    /* height: 50px; Adjust to your preferred height */
/* } */


.bg-body-tertiary {
    max-width: fit-content;
    padding: 0%;
}


